/**
 * @Author: JogFeelingVI
 * @Date:   2024-01-22 08:13:01
 * @Last Modified by:   JogFeelingVI
 * @Last Modified time: 2024-01-26 18:18:28
 */

.casex{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
}
.casex .message{
    display: flex;
    flex-direction:row;    
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    background-color: #fff;
    border-left: 3px solid #e57373;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.casex .message:hover{
    background-color: #e3f2fd;
}

.casex .message span{
    display: inline;
    padding: 2px;
}