/**
 * @Author: JogFeelingVI
 * @Date:   2024-01-22 08:13:01
 * @Last Modified by:   JogFeelingVI
 * @Last Modified time: 2024-03-01 21:53:56
 */
/* CSS HEX */
:root {
    --space-cadet: #2b2d42ff;
    --cool-gray: #8d99aeff;
    --antiflash-white: #edf2f4ff;
    --red-pantone: #ef233cff;
    --fire-engine-red: #d90429ff;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

.space-cadet {
    background-color: var(--space-cadet) !important;
}

.space-cadet-text {
    color: var(--space-cadet) !important;
}

.cool-gray {
    background-color: var(--cool-gray) !important;
}

.cool-gray-text {
    color: var(--cool-gray) !important;
}

.antiflash-white {
    background-color: var(--antiflash-white) !important;
}

.antiflash-white-text {
    color: var(--antiflash-white) !important;
}

.red-pantone {
    background-color: var(--red-pantone) !important;
}

.red-pantone-text {
    color: var(--red-pantone) !important;
}

.fire-engine-red {
    background-color: var(--fire-engine-red) !important;
}

.fire-engine-red-text {
    color: var(--fire-engine-red) !important;
}

/* color end */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--fire-engine-red);
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--red-pantone);
}

/* html root color*/
input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    height: 1px;
    background-color: var(--cool-gray);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: var(--red-pantone);
    border-radius: 50%;
    border: none;
    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--red-pantone);
    border-radius: 50%;
    border: none;
    /* box-shadow: -407px 0 0 400px #f50; emove this line */
    transition: .2s ease-in-out;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: var(--fire-engine-red);
    border: 2px solid var(--fire-engine-red);
}

/* Hover, active & focus Thumb: Webkit */
textarea.materialize-textarea:focus:not([readonly]) {
    /*
    border-bottom: 1px solid var(--red-pantone) !important;
    -webkit-box-shadow: 0 1px 0 0 var(--red-pantone) !important;
    box-shadow: 0 1px 0 0 var(--red-pantone) !important;
    */
    border-bottom: none !important;
    box-shadow: none !important;
}

textarea.materialize-textarea {
    border-bottom: none !important;
    box-shadow: none !important;
}

div.input-field>label:not(.label-icon).active {
    color: var(--red-pantone);
}

/* input range */

.example {
    position: relative;
    padding: 0 40px;
    margin: 20px 0;
    overflow: hidden;
}

.example.overflow {
    overflow: visible;
}

/* example css */

html {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.anmin {
    animation-duration: 1s;
    animation-name: slidein;
}

.casex {
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px auto 10px auto; */
    transition: all 0.5s ease-out;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.casex .listmgs {
    flex-direction: column;
    display: flex;
    /* margin: 5px auto 5px auto; */
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: center;
}

.casex .message span {
    display: inline;
    padding: 2px;
    opacity: 0.4;
}

.casex .listmgs {
    opacity: 0.7;
    filter: contrast(1.75);
}

.casex .listmgs:hover {
    opacity: 1;
}

.casex .listmgs .haed {
    font-size: 18px;
    text-align: right;
}

.casex .listmgs .r,
.casex .message .r {
    color: var(--red-pantone);
}

.casex .listmgs .a,
.casex .message .a {
    color: var(--cool-gray);
}

.casex .listmgs .spa {
    border-bottom: 1px dashed var(--red-pantone);
}

.casex .listmgs .spb {
    display: block;
    background-color: transparent;
    height: 5px;
}

.casex .listmgs .b,
.casex .message .b {
    color: var(--cool-gray);
}

.offon {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}

.offon span {
    display: block !important;
}


.offon span:active {
    color: var(--fire-engine-red);
}

.offon input {
    opacity: 0;
}


.offon [type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    top: 2px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--cool-gray);
    background-color: var(--space-cadet);
    border-radius: 50%;
    opacity: 0.3;
}

.offon [type="checkbox"]:checked+span:not(.lever)::before {
    opacity: 1;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid var(--fire-engine-red);
    border-bottom: 2px solid var(--fire-engine-red);
    background-color: var(--red-pantone);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    border-radius: 50%;
}

.casex .listmgs {
    flex-direction: column;
    display: flex;
    margin: 5px auto 5px auto;
    padding: 5px;
}

div#GroupSize {
    display: flex;
    flex-direction: row;
}

div#GroupSize label {
    margin: 0 5px 0 5px;
}

div#GroupSize span {
    color: var(--cool-gray);
}

.pfs {
    background-color: var(--space-cadet);
    filter: brightness(95%) blur(1.8px);
}

.pfs:hover {
    background-color: var(--space-cadet);
    filter: brightness(95%) blur(0.0px);
}

#modal_edit {
    background-color: var(--space-cadet) !important;
    opacity: 0.7;
}

#insxrego {
    color: var(--cool-gray);
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#rego {
    line-height: 1.7;
}

.mf-fix {
    background-color: var(--space-cadet) !important;
}

.bt-fix {
    color: var(--cool-gray);
}

#runing {
    border: 1px solid var(--red-pantone);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

#runing::before {
    content: 'Runing: ';
}

#runing::after {
    content: 's';
}

.oks {
    color: var(--red-pantone);
    border-bottom: 1px solid var(--fire-engine-red);
}

.oks:hover {
    text-transform: uppercase;
}

#upgrade_data span {
    color: var(--fire-engine-red);
    font-weight: 600;
    border-bottom: 1px solid var(--fire-engine-red);
}

#upgrade_data span:before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    background: yellow;
    border-radius: 50%;
}

#upgrade_data lable {
    color: var(--cool-gray);
}

.noUi-fix_target {
    border-radius: 5px;
    background: var(--cool-gray);
}
/*
.noUi-fix_target:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    height: 1px;
    width: 60%;
    background: var(--fire-engine-red);
}
.noUi-fix_target::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    height: 1px;
    width: 60%;
    background: var(--fire-engine-red);
}
*/
.fix_connect {
    background: var(--fire-engine-red);
}

.noUi-fix_handle{
    background: var(--space-cadet)
}