/**
 * @Author: JogFeelingVI
 * @Date:   2024-03-11 09:13:30
 * @Last Modified by:   JogFeelingVI
 * @Last Modified time: 2024-03-16 15:23:29
 */
.sw {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
    box-sizing: content-box;
    user-select: none;
}

.sw>label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sw>label>.qian,
.sw>label>.hou,
.sw>label>.see {
    display: block;
}

.sw>label>.see {
    width: 36px;
    margin-left: 10px;
    margin-right: 10px;
}


.sw>label>.see>input {
    display: none;
}

.sw>label>.see>.bg {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 36px;
    height: 12px;
    border-radius: 5px;
    background-color: var(--cool-gray);
}

.sw>label>.see>.shou {
    display: block;
    position: relative;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--antiflash-white);
    transition: transform 0.3s ease, background-color .3s ease;
}

.sw>label>.see>input:checked~.shou {
    display: block;
    position: relative;
    -webkit-transform: translate(16px, 0);
    transform: translate(16px, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--fire-engine-red);
    transition: transform 0.3s ease, background-color .3s ease;
}

/* meRange class */

.meRange {
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    background: transparent;
    transform: rotate(0);
}

.meRange .huagui_bg {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: var(--cool-gray);
}

.meRange .huagui_bg>* {
    /* min max setp hide */
    display: none
}

.meRange .huagui {
    width: 100%;
}

.meRange .huagui .shoubing {
    display: block;
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    background-color: var(--fire-engine-red);
}

.meRange .huagui .shoubing:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, -50%);
    width: var(--oks, 0);
    left: var(--okb, 0);
    /* -left = width = shoubing.width */
    height: 3px;
    background-color: aqua;
}

/* radioList */

.radioList {
    display: flex;
    flex-direction: row;
}

.radioList label {
    margin: 0 5px 0 5px;
}

.radioList input {
    opacity: 0 !important;
}

.radioList span {
    color: var(--cool-gray);
}

.radioList input:checked~span::after {
    background-color: var(--fire-engine-red);
    border: none;
}

.anmin {
    animation-duration: 1s;
    animation-name: slidein;
}

/* manage css */
.manage {
    display: flex;
    flex-wrap: wrap;
}

.manage .group {
    margin: 8px;
    border-radius: 5px;
    border: 1px solid var(--bgs);
}

.manage .group .haed {
    display: block;
    width: 100%;
    padding: 0 8px 0 8px;
    font-size: 18px;
    text-align: right;
    background-color: var(--bgs);
    cursor: pointer;
    user-select: none;
}

.manage .group .a {
    color: var(--fcs);
}

.manage .group .r {
    color: hsla(360, 100%, 65%, 0.84);
}

.manage .group .b {
    color: hsla(244, 100%, 65%, 1);
}

.manage .group .haed~div {
    display: block;
    padding: 0 8px 0 8px;
}

.manage .group .haed+div {
    margin-top: 8px;
    /* div.group:nth-child(1) > div:nth-child(2) */
}

.manage .group .haed~div:last-child {
    margin-bottom: 8px;
}

.manage .group .spb {
    margin: 5px auto 5px auto;
    width: 90%;
    height: 1px;
    opacity: 0.6;
    background-color: var(--fcs);
}

.manage .group .a {
    font-size: 18px;
    color: var(--cool-gray);
}

/* filterswitch */
.filterswitch {
    display: inline;
    text-transform: capitalize;
    margin-left: 8px;
    padding: 5px 5px 5px 45px;
    user-select: none;
}

.filterswitch>input[type='checkbox'] {
    display: none;
}

.filterswitch>label {
    position: relative;
    color: var(--cool-gray);
    font-size: 15px;
}

.filterswitch>label:hover {
    color: var(--fire-engine-red);
    transition: transform 0.3s ease, color .3s ease
}

.filterswitch>label::before {
    content: '';
    opacity: 0.5;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -35px;
    top: 0px;
    border-radius: 50%;
    border: 2px solid var(--cool-gray);
}

.filterswitch>input[type='checkbox']:checked+label::before {
    background-color: var(--red-pantone);
    border: 2px solid var(----fire-engine-red);
    opacity: 1;
    transition: transform 0.3s ease, background-color .3s ease, border .1s ease, opacity 0.2s ease;
}