/**
 * @Author: JogFeelingVI
 * @Date:   2024-03-11 09:13:30
 * @Last Modified by:   JogFeelingVI
 * @Last Modified time: 2024-03-12 15:10:29
 */
.sw {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-transform: capitalize;
    box-sizing: content-box;
    user-select: none;
}

.sw>label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sw>label>.qian,
.sw>label>.hou,
.sw>label>.see {
    display: block;
}

.sw>label>.see {
    width: 36px;
    margin-left: 10px;
    margin-right: 10px;
}


.sw>label>.see>input {
    display:none;
}

.sw>label>.see>.bg {
    display:block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 36px;
    height: 12px;
    border-radius: 5px;
    background-color: var(--cool-gray);
}

.sw>label>.see>.shou {
    display: block;
    position: relative;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--antiflash-white);
    transition: transform 0.3s ease, background-color .3s ease;
}

.sw>label>.see>input:checked~.shou {
    display: block;
    position: relative;
    -webkit-transform: translate(16px, 0);
    transform: translate(16px, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--fire-engine-red);
    transition: transform 0.3s ease, background-color .3s ease;
}

/* meRange class */

.meRange {
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    background: transparent;
    transform: rotate(0);
}

.meRange .huagui_bg {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: var(--cool-gray);
}

.meRange .huagui_bg>* {
    /* min max setp hide */
    display: none
}

.meRange .huagui {
    width: 100%;
}

.meRange .huagui .shoubing {
    display: block;
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    background-color: var(--fire-engine-red);
}

.meRange .huagui .shoubing:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, -50%);
    width: var(--oks, 0);
    left: var(--okb, 0);
    /* -left = width = shoubing.width */
    height: 3px;
    background-color: aqua;
}

/* radioList */

.radioList {
    display: flex;
    flex-direction: row;
}

.radioList label {
    margin: 0 5px 0 5px;
}

.radioList input {
    opacity: 0 !important;
}

.radioList span {
    color: var(--cool-gray);
}

.radioList input:checked ~ span::after{
    background-color: var(--fire-engine-red);
    border: none;
}
