/**
 * @Author: JogFeelingVI
 * @Date:   2024-03-06 15:27:45
 * @Last Modified by:   JogFeelingVI
 * @Last Modified time: 2024-03-09 10:46:49
 */
 :root {
    --space-cadet: #2b2d42ff;
    --cool-gray: #8d99aeff;
    --antiflash-white: #edf2f4ff;
    --red-pantone: #ef233cff;
    --fire-engine-red: #d90429ff;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

.space-cadet {
    background-color: var(--space-cadet) !important;
}

.space-cadet-text {
    color: var(--space-cadet) !important;
}

.cool-gray {
    background-color: var(--cool-gray) !important;
}

.cool-gray-text {
    color: var(--cool-gray) !important;
}

.antiflash-white {
    background-color: var(--antiflash-white) !important;
}

.antiflash-white-text {
    color: var(--antiflash-white) !important;
}

.red-pantone {
    background-color: var(--red-pantone) !important;
}

.red-pantone-text {
    color: var(--red-pantone) !important;
}

.fire-engine-red {
    background-color: var(--fire-engine-red) !important;
}

.fire-engine-red-text {
    color: var(--fire-engine-red) !important;
}
.example {
    position: relative;
    padding: 0 40px;
    margin: 20px 0;
    overflow: hidden;
}

.example.overflow {
    overflow: visible;
}

/* example css */

html {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.pfs {
    background-color: var(--space-cadet);
    filter: brightness(95%) blur(1.8px);
}

.pfs:hover {
    background-color: var(--space-cadet);
    filter: brightness(95%) blur(0.0px);
}

.sw {
    display:inline-block;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    user-select: none;
}

.sw > label{
    display:flex;
}


.sw > label > .qian,
.sw > label > .hou,
.sw > label > .see{
    display:inline-block;
}



.sw > label > .see > input {
    opacity: 0;
}
.sw > label > .see > .bg {
    display:inline-block;
    margin: auto 5px auto 5px;
    width: 48px;
    height: 13px;
    background-color: var(--cool-gray);
}
.sw > label > .see > .shou {
    position:absolute;
    top: 0px;
    display:block;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background-color: var(--fire-engine-red);
}