<!-- 
  @Author: JogFeelingVI
  @Date:   2024-01-13 21:34:51
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-01-18 15:49:11
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JogFeelingVI!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Auto as Set
        </p>
        <p class="subtitle">
          Automatically execute scripts to get lucky numbers
        </p>
      </div>
    </section>
    <div class="columns">
      <div class="column is-three-fifths">
        <div class="column">
          <div class="box">
            <div class="tags are-medium">
              {% for item in navigation %}
                  <span class='tag is-warning'>{{ item }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="column">
          <div class="notification is-info">
            <button class="delete"></button>
            Enable filters to filter the generated numbers, which need to be turned on with caution. While filtering can serve to improve, it is equally likely that the bias will grow.
          </div>
          <div class="box">
            <label class="checkbox">
              <input type="checkbox">
              Whether to enable <strong>Rego_v3</strong> filter
            </label>
            <div class="block"></div>
            <label class="checkbox">
              <input type="checkbox">
              Enable the regularity filters, these filters ensure that the numbers are in the common range.
            </label>
            <div class="block"></div>
            <div class="buttons">
              <button class="button is-info is-light">Info</button>
              <button class="button is-success is-light">Success</button>
              <button class="button is-warning is-light">Warning</button>
              <button class="button is-danger is-light">Danger</button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>