<!-- 
  @Author: JogFeelingVI
  @Date:   2024-01-13 21:34:51
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-02-03 22:22:23
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/casex.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="space-cadet">
    <div class="container">
      <!-- Page Content goes here -->
      <div class="row">
        <div class="col s12">
          <div class="row antiflash-white-text">
            <div class="col s12 m12">
              <h1 class="header red-pantone-text">Autoasseting</h1>
              <p>{{ luck }}</p>
              <div class="divider"></div>
              <div class="section scrollspy">
                <h5 class="header red-pantone-text">Upgrade DataFrame</h5>
                <p id='upgrade_data'>
                  Update data frame.
                </p>
                <a id="upgrade" onclick="upgradeClicked()" class="waves-effect waves-light btn grey darken-1"><i class="material-icons left">upgrade</i>upgrade</a>
              </div>
              <div class="section scrollspy">
                <div class="divider"></div>
                <h5 class="header red-pantone-text">Use a filtration system</h5>
                <p>Set the number of system-generated items. Value:<span id="slider-range-value"  class="fire-engine-red-text">25</span></p>
                <div class="example">
                  <input type="range" id="slider" min="5" max="1000" value="25"/>
                </div>
                
                
                <p>Use the rego v3 system for filtering. After opening, the <span class="fire-engine-red-text">insx.rego</span> file will be used.<a class="modal-trigger cool-gray-text" href="#modal_edit" onclick="loadInsxRego()">Open the editing module</a></p>
                <!-- Modal Structure -->
                <div id="modal_edit" class="modal antiflash-white">
                  <div class="modal-content">
                    <h5 class="red-pantone-text">insx.rego edit</h5>
                    <p class="grey-text lighten-1">* All rules are a comprehensive result.</p>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="insxrego" class="materialize-textarea space-cadet-text"></textarea>
                            <label for="insxrego">Textarea</label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!--end over-->
                  </div>
                  <div class="modal-footer antiflash-white">
                    <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
                    <a href="#!" class="modal-close waves-effect btn-flat" onclick="saveInsxRego()">Save rego</a>
                  </div>
                </div>
                <!--EDIT MODAL-->
                <div id="rego" class="offon">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
                <p>Use a wide range filter to filter out unusual combinations of numbers.</p>
                <p id="filterv3">
                  Waiting to load data.
                </p>
                <a id="done" onclick="doneClicked()" class="waves-effect waves-light btn grey darken-1"><i class="material-icons left">done</i>done</a>
                
              </div>
              <div class="section scrollspy">
                <!-- list casex -->
                <div id="navigation" class="casex">
                  <p>Wait for the server to return json data.</p>
                </div>
              </div>              
              <!-- end list casex -->
            </div><!-- end col s12 m12  -->
          </div><!-- end row  -->
        </div><!-- end col s12 -->
      </div><!-- end row -->
    </div><!--end container-->
    <!--JavaScript at end of body for optimized loading-->
    <script src="/static/handle.js"></script>
  </body>
</html>