<!-- 
  @Author: JogFeelingVI
  @Date:   2024-01-13 21:34:51
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-05-10 10:03:23
-->
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/static/science.css" />
    <link rel="stylesheet" href="/static/obj.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="space-cadet">
    <header></header>
    <main>
      <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
          <div class="col s12">
            <div class="row antiflash-white-text">
              <div class="col s12 m12">
                <h3 class="header red-pantone-text">Science</h3>
                <p>
                  If you have to wait until there is a laboratory before doing
                  experiments, then you will not do experiments when there is a
                  laboratory.
                </p>
                <div class="divider"></div>
                <div class="section scrollspy">
                  <h5 class="header red-pantone-text">
                    Multi-handle range experiment
                  </h5>
                  <div class="example">
                    <!-- switch -->
                    <div id="yesno"></div>
                    <div id="okye"></div>
                    <!-- end switch -->
                  </div>
                  <div class="example"><div id="GroupSizes"></div></div>
                  <!--end example-->
                  <div class="example"><span id="range_value">233</span></div>
                  <div class="example"><div id="ranges"></div></div>
                  <!--end example-->
                  <div class="example"><div id="groupblack"></div></div>
                  <!--end example-->
                  <div class="example">
                    <p id="filter_group"></p>
                  </div>
                </div>
                <!-- end list casex -->
              </div>
              <!-- end col s12 m12  -->
            </div>
            <!-- end row  -->
          </div>
          <!-- end col s12 -->
        </div>
        <!-- end row -->
      </div>
      <!--end container-->
      <!--button-->

      <div id='fixbut'></div>
    </main>
    <footer id='footerx'></footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="module" src="/static/science.js"></script>
  </body>
</html>
