<!-- 
  @Author: JogFeelingVI
  @Date:   2024-04-18 09:13:22
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-05-07 21:57:34
-->
<!-- item 2 -->
<footer class="footer" id='footer1'>
	<div class="container">
	  <div class='line'>
		<div class='infos'>
		  <h5>Friendly Reminder</h5>
		  <p class='toDuan'>This is a web app based on PYTHON, which aims to
						  provide simple, intuitive, fast and accurate
						  double-colour ball number generation service. But
						  winning the lottery still depends on your own
						  efforts.</p>
		</div>
		<div class='links'>
		  <h5>Links</h5>
		  <ul>
			<li><a
			  class="link_a toLi"
			  href="https://fonts.google.com/icons"
			  >google fonts</a>
			</li>
			<li>baidu</li>
			<li>tiktok</li>
			<li>wechat</li>
		  </ui>
		</div>
	  </div>
	  <div class='line'>
		<span>© 2024 Copyright JogFeelingVI</span>
		<a class='link_a toR' href="https://github.com/jogfeelingvi/">* github *</a>
	  </div>
	</div>
</footer>
