<!-- 
  @Author: JogFeelingVI
  @Date:   2024-04-18 09:13:22
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-04-18 09:18:52
-->
<!-- item 2 -->
<div class="filter_all">
	<div class="name">
		<input class="use_none" type="checkbox" /><span>acvalue</span
		><span>ac value 0-10.</span>
	</div>
	<div class="command">
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<div></div>
		<!-- item test end -->
	</div>
</div>
