<!-- 
  @Author: JogFeelingVI
  @Date:   2024-04-18 09:13:22
  @Last Modified by:   JogFeelingVI
  @Last Modified time: 2024-04-19 09:30:47
-->
<!-- item 2 -->
<div class="filter_all">
	<label class="name">
		<input class="use_none" type="checkbox" checked />
		<show class="NA">acvalue</show>
		<show class="DE">ac value 0-10.</show>
	</label>

	<div class="command">
		<label class="item">
			<input class="none" type="checkbox" />
			<show class="sp">0.9</show>
		</label>
		<!-- item test end -->
	</div>
</div>
